.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: $m-size;

  &__figure {
  }

  &__img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 1px;
    background: #fff;
    border: 1px solid #ccc;
  }

  &__login {
    font-weight: 400;
    color: $headerColor;
    word-break: break-all;
  }
  &__link {
    text-decoration: none;
    display: inline-block;
    color: $primary-color;
  }
}
