//color
$textColor: #777;
$headerColor: #333;
$primary-color: #dc3545;
$dark-color: #333333;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

//spacing

$sm-size: 1rem;
$m-size: 3rem;
$l-size: 4rem;
$xl-size: 6rem;
